<!DOCTYPE html>
<html>
  <head>
    <title><%= title %> - Login</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <div class="centered header">
        <h2>One Wish</h2>
        <form action="/users/signup" method="get"><button type="submit">Sign Up</button></form>
      </div>
      <main>
        <% if(errorMessage) { %>
          <h3 class="centered" style="color: red;">Error Message</h3>
          <div class="centered"><%= errorMessage %></div><br>
        <% } %>
        <% if(loginCreated) { %>
          <h3 class="centered" style="color: green;">Thank you for creating a login</h3>
          <div class="centered"></div><br>
        <% } %>
        <form class="centered login-form" action="/users/login" method="post">
            <div>
                <label for="username">Username</label><br>
                <input type="username" name="username" id="username" value="">
            </div>
            <div>
                <label for="password">Password</label><br>
                <input type="password" name="password" id="password" value="">
            </div><br>
            <input type="hidden">
            <button type="submit">Login</button>
        </form><br>
        <div class="centered">
            <a class="btn" href="/users">Sign Up</a>
        </div>
      </main>
  </body>
</html>
